<div align="center">

    <h1>Login</h1>

    <h3 style="color: red;">{{form.errorMsg}}</h3>
    <h3 style="color: green;">{{form.successMsg}}</h3>

    <form (submit)="signIn()">

        <table>

            <tr>
                <th>Login</th>
                <td><input type="text" name="loginId" [(ngModel)]="form.data.loginId" placeholder="Enter your emial">
                </td>
            </tr>

            <tr>
                <th>Password</th>
                <td><input type="password" name="password" [(ngModel)]="form.data.password"
                        placeholder="Enter your password"></td>
            </tr>

            <tr>
                <th></th>
                <td><input type="submit" value="signin"> &nbsp;
                    <button (click)="signUp()">signup</button>
                </td>
            </tr>

        </table>

    </form>

</div>