<div align="center">

    <h1 *ngIf="!form.data.id">Add User</h1>
    <h1 *ngIf="form.data.id">Update User</h1>
    <h3 style="color: green;">{{form.successMessage}}</h3>
    <h3 style="color: red;">{{form.errorMessage}}</h3>
    <form (submit)="save()">

        <table>
            <tr>
                <th>First Name</th>
                <td><input type="text" name="firstName" [(ngModel)]="form.data.firstName"
                        placeholder="enter your firstName"></td>
                <td><span style="color: red;">{{form.inputError.firstName}}</span></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input type="text" name="lastName" [(ngModel)]="form.data.lastName"
                        placeholder="enter your lastName"></td>
                <td><span style="color: red;">{{form.inputError.lastName}}</span></td>
            </tr>
            <tr>
                <th>Login</th>
                <td><input type="text" name="loginId" [(ngModel)]="form.data.loginId" placeholder="enter your login id">
                </td>
                <td><span style="color: red;">{{form.inputError.loginId}}</span></td>
            </tr>
            <tr>
                <th>Passwrod</th>
                <td><input type="text" name="password" [(ngModel)]="form.data.password"
                        placeholder="enter your password">
                </td>
                <td><span style="color: red;">{{form.inputError.password}}</span></td>
            </tr>
            <tr>
                <th>Role</th>
                <td><select name="roleId" [(ngModel)]="form.data.roleId">
                        <option value="undefined">{{'---------Select Role---------' }}</option>
                        <option *ngFor="let role of form.preload" [value]="role.key">{{role.value}}</option>
                    </select>
                </td>
                <td><span style="color: red;">{{form.inputError.roleId}}</span></td>
            </tr>
            <tr>
                <th>DOB</th>
                <td><input type="date" name="dob" [(ngModel)]="form.data.dob">
                </td>
                <td><span style="color: red;">{{form.inputError.dob}}</span></td>
            </tr>
            <tr *ngIf="form.data.imageId > 0 && form.data.id > 0">
                <th>Prfile :</th>
                <td>
                    <img src="http://localhost:8080/User/profilePic/{{form.data.id}}" height="90px" width="90px">
                </td>
            </tr>
            <tr>
                <th *ngIf="form.data.id > 0">Update Image :</th>
                <th *ngIf="form.data.id == null">Upload Image :</th>
                <td><input type="file" name="imageId" (change)="onFileSelect($event)" accept="image/*">
                </td>
            </tr>
            <tr>
                <th></th>
                <td *ngIf="!form.data.id"><input type="submit" value="save">
                    <button (click)="reset()">Reset</button>
                </td>
                <td *ngIf="form.data.id"><input type="submit" value="update">
                    <button (click)="reset()">Reset</button>
                </td>
            </tr>
        </table>

    </form>

</div>