<div align="center" style="margin-top: 80px;" class="container">

    <h2 *ngIf="form.data.id" style="color: navy; padding-bottom: 10px;">Update User</h2>
    <h2 *ngIf="!form.data.id" style="color: navy; padding-bottom: 10px;">Add User</h2>

    <h2>{{form.message}}</h2>

    <form (submit)="save()">
        <table>
            <tr>
                <th>First Name</th>
                <td><input type="text" [(ngModel)]="form.data.firstName" name="firstName"
                        placeholder="enter first name">
                </td>
                <td *ngIf="form.inputerror.firstName != null">
                    <font color="red">
                        {{form.inputerror.firstName}}
                    </font>
                </td>
            </tr>

            <tr>
                <th>Last Name</th>
                <td><input type="text" [(ngModel)]="form.data.lastName" name="lastName" placeholder="enter last name">
                </td>
                <td *ngIf="form.inputerror.lastName != null">
                    <font color="red">
                        {{form.inputerror.lastName}}
                    </font>
                </td>
            </tr>
            <tr>
                <th>Role</th>
                <td><select name="roleId" [(ngModel)]="form.data.roleId">
                        <option [ngValue]="" value="undefined">{{'--------Select Role---------' }}</option>
                        <option value="1">Admin</option>
                        <option value="2">Student</option>
                        <option value="3">College</option>
                        <option value="4">Faculty</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>LoginId</th>
                <td><input type="text" [(ngModel)]="form.data.loginId" name="loginId" placeholder="enter your email">
                </td>
                <td *ngIf="form.inputerror.loginId != null">
                    <font color="red">
                        {{form.inputerror.loginId}}
                    </font>
                </td>
            </tr>

            <tr>
                <th>Password</th>
                <td><input type="text" [(ngModel)]="form.data.password" name="password" placeholder="enter first name">
                </td>
                <td *ngIf="form.inputerror.password != null">
                    <font color="red">
                        {{form.inputerror.password}}
                    </font>
                </td>
            </tr>

            <tr>
                <th>DOB</th>
                <td><input type="date" [(ngModel)]="form.data.dob" name="dob"></td>
                <td *ngIf="form.inputerror.dob != null">
                    <font color="red">
                        {{form.inputerror.dob}}
                    </font>
                </td>
            </tr>
            <tr>
                <th></th>
                <td *ngIf="!form.data.id"><input type="submit" value="save"></td>
                <td *ngIf="form.data.id"><input type="submit" value="update"></td>
            </tr>
        </table>
    </form>
</div>