<div align="center" style="margin-top: 100px;" class="container">

    <h2>Login</h2>
    <span>{{form.inputError}}</span>
    <form (submit)="signIn()">
        <table>
            <tr>
                <th>LoginId</th>
                <td><input type="text" [(ngModel)]="form.data.login" name="login" placeholder="enter your email"></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="text" [(ngModel)]="form.data.password" name="password" placeholder="enter first password">
                </td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="signIn">
                    &nbsp;
                    <button>
                        <a href="signup">signUp</a>
                    </button>
                </td>
            </tr>
        </table>
    </form>

</div>